.form__botton {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  background-color: #2f80ed;
  color: #ffffff;
  border-radius: 4px;
  height: 60px;
  width: 385px;
  margin: auto;
  display: block;
  margin-top: 32px;
}

.form__botton:hover {
  opacity: 70%;
  -moz-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}
