@import url(../vendor/normalize.css);
@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__image/header__image.css);
@import url(../blocks/header/__title/header__title.css);
@import url(../blocks/header/__title/-color/header__title-color.css);
@import url(../blocks/header/__description/header__description.css);
@import url(../blocks/header/__footer/header__footer.css);
@import url(../blocks/header/__list/header__list.css);
@import url(../blocks/header/__list/-item/header__list-item.css);
@import url(../blocks/header/__paragraph/header__paragraph.css);

@import url(../blocks/nav/nav.css);
@import url(../blocks/nav/__logo/nav__logo.css);
@import url(../blocks/nav/__links/nav__links.css);
@import url(../blocks/nav/__links/__link/nav__link.css);
@import url(../blocks/recipes/recipes.css);
@import url(../blocks/recipes/__title/recipes__title.css);
@import url(../blocks/recipes/__subtitle/recipes__subtitle.css);
@import url(../blocks/recipes/__iframe/recipes__iframe.css);
@import url(../blocks/recipes/__videos/recipes__videos.css);
@import url(../blocks/recipes/__videos/-caption/recipes__video-caption.css);

@import url(../blocks/reservation/reservation.css);
@import url(../blocks/reservation/__title/reservation__title.css);
@import url(../blocks/reservation/__form/reservation__form.css);
@import url(../blocks/reservation/__form/__label/form__label.css);
@import url(../blocks/reservation/__form/__label/-text/form__label-text.css);
@import url(../blocks/reservation/__form/__label/-margin/form__label-margin.css);
@import url(../blocks/reservation/__form/__botton/form__botton.css);
@import url(../blocks/reservation/__form/__checkbox/form__checkbox.css);
@import url(../blocks/reservation/__input/form__input.css);

@import url(../blocks/menu/menu.css);
@import url(../blocks/menu/__title/menu__title.css);
@import url(../blocks/menu/__subtitle/menu__subtitle.css);
@import url(../blocks/menu/__cards/menu__cards.css);
@import url(../blocks/menu/__cards/card/__list/card__list.css);
@import url(../blocks/menu/__cards/card/__list/-item/card_list-item.css);
@import url(../blocks/menu/__cards/card/__title/card__title.css);

@import url(../blocks/about/about.css);
@import url(../blocks/about/__title/about__title.css);
@import url(../blocks/about/__content/about__content.css);
@import url(../blocks/about/__paragraph/about__paragraph.css);
@import url(../blocks/about/__circle/about__circle.css);
@import url(../blocks/about/__circle/_animation_blurred/about__circle_animation_blurred.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__logo/footer_logo.css);
@import url(../blocks/footer/__content/footer__content.css);
@import url(../blocks/footer/__list/footer__list.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/footer/__social/-heading/footer__social-heading.css);
@import url(../blocks/footer/__social/-icon/footer__social-icon.css);
@import url(../blocks/footer/__social/-link/footer__social-link.css); ;
