@import url(../vendor/normalize.css);
@import url(../blocks/page.css);
@import url(../blocks/about.css);

.header {
  display: flex;
  flex-direction: column;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
  height: 100vh;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  right: 30px;
}
.nav__links {
  display: flex;
  column-gap: 20px;
  list-style: none;
  margin-inline-start: 8px;
}
.nav__link {
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.header__title {
  max-width: 729px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  margin-bottom: 28px;
  z-index: 1;
}
.header__description {
  max-width: 683px;
  font-family: "Noto Serif";
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  z-index: 2;
}
.header__title-color {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
  display: block;
}
.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}
.header__footer {
  z-index: 3;
  position: relative;
  width: 100%;
  display: flex;
  margin-top: auto;
}

.header__list {
  list-style: none;
  padding: 0;
  flex-basis: 76%;
}
.header__list-item {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}
.header__paragraph {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  display: flex;
  align-items: center;
}
.recipes {
  padding: 100px 80px 40px;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0a2750;
  color: #ffffff;
}
.recipes__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 580px;
}
.recipes__subtitle {
  max-width: 438px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-top: 24px;
}
.recipes__videos {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  position: relative;
  column-gap: 40px;
  flex-wrap: wrap;
}
.recipes__iframe {
  display: flex;
}
.recipes__video-caption {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-top: 24px;
  margin-bottom: 215px;
}
.reservation {
  background-image: url(../images/background_reservation.svg);
  background-color: #d9e7ff;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
}
.reservation__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
}

.form__input {
  border-radius: 4px;
  max-width: 385px;
  margin-top: 8px;
  height: 60px;
}

.form {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  max-width: 385px;
}

.form__label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  margin-top: 32px;
}
::-webkit-input-placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
::-moz-placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
:-ms-input-placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
.form__botton {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  background-color: #2f80ed;
  color: #ffffff;
  border-radius: 4px;
  height: 60px;
  width: 385px;
  margin: auto;
  display: block;
  margin-top: 32px;
}

.form__botton:hover {
  opacity: 70%;
}
.form__checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
  margin: 32px 0 120px 0px;
}

.form__label-text {
  display: block;
  text-align: center;
}
.form__label-margin {
  margin: 0;
}
.menu {
  background-image: url(../images/background_menu.svg);
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu__title {
  max-width: 780px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  padding-top: 100px;
}
.menu__subtitle {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30x;
  max-width: 780px;
  margin-top: 24px;
}

.card__list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  width: 540px;
  margin-top: 32px;
}

.card__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.menu__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 100px;
  column-gap: 100px;
  margin-bottom: 100px;
}

.card_list-item {
  margin-top: 16px;
}

.about {
  background-color: #0a2750;
  position: relative;
  color: #ffffff;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
.about__title {
  max-width: 251px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  z-index: 1;
  margin: 100px 0px 0px 80px;
}
.about__content {
  max-width: 660px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  margin: 119px 80px 173px 0px;
  margin-left: 26%;
  z-index: 2;
  gap: 20px;
}

.about__paragraph {
  margin: 0;
}

.about__circle {
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  position: absolute;
  left: -129px;
  top: -152px;
}
.about__circle_animation_blurred {
  position: static;
  animation: pulsate 1.3s ease-in-out infinite;
}
.footer {
  background: linear-gradient(180deg, #0a2859 0%, #071931 100%);
  color: #ffffff;
}
.footer__social-heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}
.footer__social-link {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: white;
  text-decoration: none;
}

.footer__copyright {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
.footer__social-icon {
  height: 16px;
  width: 16px;
}
.footer_logo {
  width: 105px;
  height: 39px;
}
.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
