.page {
  max-height: 1600px;
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header {
  display: flex;
  flex-direction: column;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
  height: 100vh;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  right: 30px;
}
.nav__links {
  display: flex;
  column-gap: 20px;
  list-style: none;
  margin-inline-start: 8px;
}
.nav__link {
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.header__title {
  max-width: 729px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  margin-bottom: 28px;
  z-index: 1;
}
.header__description {
  max-width: 683px;
  font-family: "Noto Serif";
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  z-index: 2;
}
span {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
  display: block;
}
.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}
.header__footer {
  z-index: 3;
  position: relative;

  width: 100%;
  display: flex;
  margin-top: auto;
}
.header__footer_column {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
}

.header__footer__list {
  list-style: none;
  padding: 0;
}
.header__footer__list-item {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}
.header__footer__paragraph {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  display: flex;
  align-items: center;
}
.recipes {
  padding: 100px 80px 40px;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0a2750;
  color: #ffffff;
}
.recipes__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 580px;
}
.recipes__subtitle {
  max-width: 438px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-top: 24px;
}
.recipes__videos {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  position: relative;
}
.recipes__videos__iframe {
  display: flex;
  column-gap: 40px;
}
.recipes__video-caption {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  justify-content: center;
  /*position: absolute;*/
  /*bottom: -31px;*/
  gap: 39px;
  margin-top: 24px;
  padding-bottom: 215px;
}
