.page {
  max-height: 1600px;
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header {
  display: flex;
  flex-direction: column;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
  height: 100vh;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  right: 30px;
}
.nav__links {
  display: flex;
  column-gap: 20px;
  list-style: none;
  margin-inline-start: 8px;
}
.nav__link {
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.header__title {
  max-width: 729px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  margin-bottom: 28px;
  z-index: 1;
}
.header__description {
  max-width: 683px;
  font-family: "Noto Serif";
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  z-index: 2;
}
.header__title-color {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
  display: block;
}
.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}
.header__footer {
  z-index: 3;
  position: relative;
  width: 100%;
  display: flex;
  margin-top: auto;
}

.header__list {
  list-style: none;
  padding: 0;
  flex-basis: 76%;
}
.header__list-item {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}
.header__paragraph {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  display: flex;
  align-items: center;
}
.recipes {
  padding: 100px 80px 40px;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0a2750;
  color: #ffffff;
}
.recipes__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 580px;
}
.recipes__subtitle {
  max-width: 438px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-top: 24px;
}
.recipes__videos {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  position: relative;
  column-gap: 40px;
  flex-wrap: wrap;
}
.recipes__iframe {
  display: flex;
}
.recipes__video-caption {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-top: 24px;
  margin-bottom: 215px;
}
.reservation {
  background-image: url(../images/background_reservation.svg);
  background-color: #d9e7ff;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
}
.reservation__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
}

.form__input {
  border-radius: 4px;
  max-width: 385px;
  margin-top: 8px;
  height: 60px;
}

.form {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  max-width: 385px;
}

.form__label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  margin-top: 32px;
}
::-webkit-input-placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
::-moz-placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
:-ms-input-placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
.form__botton {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  background-color: #2f80ed;
  color: #ffffff;
  border-radius: 4px;
  height: 60px;
  width: 385px;
  margin: auto;
  display: block;
  margin-top: 32px;
}

.form__botton:hover {
  opacity: 70%;
}
.form__checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
  margin: 32px 0 120px 0px;
}

.form__label-text {
  display: block;
  text-align: center;
}
.form__label-margin {
  margin: 0;
}
